
.container {
    max-width: 600px;
    margin-top: 35px;
}

form{
    padding-top: 10px;
}


.card {
display: block;
margin: 0 auto;
padding: 20px;
}

ul {
    list-style: none;
    padding: 0;

}

.icon-current{
    height: 100px;
}

#right-side {
   text-align: right;
   padding-top: 20px;
}

.city-current  {
    font-size: 22px;
    font-weight: bold;
    color:#202124;
}

.temperature-current {
    font-size: 48px;
    color: #202124;
}

.units {
    font-size: 16px;
    position: relative;
    bottom: 20px;
}

.time-current .description-current {
    font-size: 16px;
    color: #70757A;
}

footer {
    font-size: 16px;
    margin-top: 10px;
}

